/*------------------------------------*/
/* GENERAL */
/*------------------------------------*/

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    box-sizing: border-box;
}

html, body {
  overflow-x:hidden; 
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px; /* Base Type Size */
	font-weight: 400;
	line-height: 1.5;
  color: #303030;
  background: #fefcf6;
}

::-moz-selection {
  background: #1b222c;
}

::selection {
  background: #1b222c;
}

/*------------------------------------*/
/* GLOBAL */
/*------------------------------------*/

/* ==== LAYOUT ==== */

.container {
    max-width: 1280px;
    margin: 0 auto;
}


/* ==== HEADINGS ==== */

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */
  font-weight: normal;
}


h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 17em;
  line-height: 0.9;
  color: #d7534c;
  margin: 0;
  opacity: 0.9;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  color: #d7534c;
  line-height: 1.8;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: #d7534c;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 100px;
  position: relative;
}

h3:after {
  content: "";
  height: 2px;
  background-color: #d7534c;
  top: 50px;
  left: 50%;
  width: 100px;
  position: absolute;
  transform: translateX(-50%);
}

h4 {
  color: #f1ebd9;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h5 {
  font-family: 'Bungee Inline', cursive;
  font-size: 17em;
  line-height: 0.9;
  color: #d7534c;
  text-transform: uppercase;
}

blockquote {
  font-size: 1.4em;
  color: #d7534c;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-top: -40px;
  text-align: left;
}


/* ==== FORM ==== */

#reservations__form input[type="text"],
#reservations__form select {
    height: 43px;
    display: inline-block;
    width: 87%;
    font-size: 13px;
    line-height: 45px;
    padding-left: 15px;
    letter-spacing: 1px;
    margin: 0 0 50px 0;
    border-radius: 0;
    border-style: none;
    border-bottom: 2px solid #d7534c;
    background: transparent;
    color: #d7534c;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
}

#reservations__form input[type="text"]:focus,
#reservations__form select:focus {
    border-bottom: 2px solid #000;
    outline: 0;
}

#reservations__form input[type="text"]::placeholder {
    color: #d7534c;
}


/* ==== BUTTON ==== */

button, input, .reservations__make-reservation__btn {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

#reservations__form .reservations__make-reservation__btn {
    background-color: transparent;
    width: 87%;
    border: 2px solid #d7534c;
    color: #d7534c;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 30px;
    padding: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

#reservations__form .reservations__make-reservation__btn:hover,
#reservations__form .reservations__make-reservation__btn:active,
#reservations__form .reservations__make-reservation__btn:focus {
    border: 2px solid #d7534c;
    background-color: #d7534c;
    color: #fefcf6;
}

#reservations__form .reservations__make-reservation__btn:focus {
  outline: none;
}


/*------------------------------------*/
/* LAYOUT */
/*------------------------------------*/

/* ==== HERO ==== */

.hero {
  height: 90vh;
  width: 60%;
  text-align: center;
  position: relative;
  background: url(img/pexels-photo-28883.jpg);
  background-size: cover;
  margin: 20px auto 100px auto;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__arrow {
  width: 100px;
  height: auto;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

/* ==== ABOUT ==== */

.about {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

/* ==== RESERVATIONS ==== */

.reservations {
  text-align: center;
}

.reservations__headline {
  color: #d7534c;
}

.reservations__make-reservation {
  position: relative;
  margin: 100px auto 0 auto;
  padding: 50px 20px 80px 20px;
  border: 2px solid #d7534c;
  width: 85%;
  z-index: 10;
}

.reservations__make-reservation__image {
  width: 100%;
  height: auto;
  margin: -40px 0;
}

.reservations__image {
  width: 100%;
  height: auto;
  margin-bottom: 75px;
  
}

.reservations__existing {
  position: relative;
  width: 85%;
  border: 2px solid #d7534c;
  padding: 75px 20px 80px 20px;
  margin: -125px auto 0 auto;
  z-index: 10;
}

#reservations__table {
  margin: 0 auto;
  width: 90%;
}

#reservations__table th {
  font-size: .8em;
  color: #d7534c;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 2px solid #d7534c;
}

.reservations__table__row {
  font-size: .9em;
  color: #d7534c;
  text-transform: uppercase;
  padding: 10px 0;
}


/* ==== REVIEWS ==== */

.reviews {
  text-align: center;
  margin-top: 75px;
}

.reviews__image--left,
.reviews__image--right {
  width: 100%;
  height: auto;
}

.reviews__image--left {
  margin-top: 200px;
}

.reviews__quote {
  margin-top: -57px;
}

.reviews__quote--quote-mark {
  font-family: 'Bungee Inline', cursive;
  display: block;
  font-size: 14em;
  line-height: 0.9;
  color: #d7534c;
}


/* ==== INFO ==== */

#map {
  height: 85vh;
  margin-top: 100px;
}

.info__image-top {
  width: 100%;
  height: auto;
}

.info__image-bottom {
  width: 100%;
  height: auto;
  text-align: left;
}

/* ==== CTA ==== */

.cta {
    height: 100vh;
    background: url(img/pexels-photo-coffee-6.jpg);
    background-size: cover;
    position: relative;
    margin-top: 75px;
}

.cta__headline {
  position: absolute;
  margin: 0;
  top: -90px;
}



